# Maven Output
target/

# Compilation Output
bin/
*.class

# Database Files
chatdb.mv.db
chatdb.trace.db
chatdb.lock.db

# Storage
server_storage/
client_downloads/

# IDE & Editor files
.idea/
.classpath
.project
.settings/
*.iml
.vscode/
